@using ShopBanGiay.Models
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TDanhMucSp>
@{
    ViewData["Title"] = "DanhMucSP";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh mục các sản phẩm</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="table-warning">
            <th>
                Tên sản phẩm
            </th>
            <th>
                Model
            </th>
            <th>
                Độ nổi
            </th>
            <th>
                Thời gian bảo hành
            </th>
            <th>
                Chiết khấu
            </th>
            <th>
                Giá nhỏ nhất
            </th>
            <th>
                Giá lớn nhất
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @{
            int mau = 0;
            string cls = "table-succes";
        }
@foreach (var item in Model) {
            mau = mau + 1;
            cls = "table-succes";
            if (mau % 2 == 0)
            {
                cls = "table-primary";
            }
            <tr class="@cls">
            <td>
                @Html.DisplayFor(modelItem => item.TenSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoNoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianBaoHanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChietKhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaNhoNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaLonNhat)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaSp">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaSp">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaSp">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="product__pagination">
    @Html.PagedListPager(Model, page => Url.Action("DanhMucSP", new { page = page }))
</div>